@page "/Checkout/Information"
@using DotnetStore.Models
@using Microsoft.AspNetCore.Http
@model DotnetStore.Pages.Checkout.CheckoutInformation
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    Layout = "Shared/_Layout";
}

<main class="main__content" role="main">
<div class="step" data-step="contact_information" data-last-step="false">
<form class="edit_checkout animate-floating-labels" accept-charset="UTF-8" method="post">
<div class="step__sections">
@if (!SignInManager.IsSignedIn(User))
{
    <div class="section section--contact-information">
        <div class="section__header">
            <div
                class="layout-flex layout-flex--tight-vertical layout-flex--loose-horizontal layout-flex--wrap">
                <h2 class="section__title layout-flex__item layout-flex__item--stretch"
                    id="main-header" tabindex="-1">
                    Contact information
                </h2>
                <p class="layout-flex__item">
                    Already have an account?
                    <a href="/Login">
                        Log in
                    </a>
                </p>
            </div>
        </div>
        <div class="section__content">
            <div class="fieldset">
                <div class="field field--email_or_phone">
                    <div class="field__input-wrapper">
                        <label class="field__label field__label--visible" asp-for="CheckoutInfo.Email">
                            Email address
                        </label>
                        <input asp-for="CheckoutInfo.Email" class="field__input" placeholder="Email address"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="section__content" data-section="customer-information">
        <input value="@UserManager.FindByNameAsync(User.Identity.Name).Result.Email" autocomplete="null email" size="30"
               type="hidden" name="email" id="checkout_email">
        <div class="logged-in-customer-information">
            <p class="logged-in-customer-information__paragraph">
                <span class="page-main__emphasis">
                    @UserManager.FindByNameAsync(User.Identity.Name).Result.FirstName @UserManager.FindByNameAsync(User.Identity.Name).Result.LastName
                </span>
                <span>(@UserManager.FindByNameAsync(User.Identity.Name).Result.Email)</span>
                <br>
            </p>
        </div>
    </div>
}
<div class="section section--shipping-address">
    <div class="section__header">
        <h2 class="section__title" id="section-delivery-title">
            Shipping address
        </h2>
    </div>

    <div class="section__content">
        <div class="fieldset">
            <div class="address-fields">
                <div class="field field--optional field--half"
                     data-address-field="first_name">
                    <div class="field__input-wrapper">
                        <label class="field__label field__label--visible"
                               asp-for="CheckoutInfo.FirstName">
                            First name
                        </label>
                        <input placeholder="First name" class="field__input" asp-for="CheckoutInfo.FirstName">
                    </div>
                </div>
                <div class="field field--required field--half"
                     data-address-field="last_name">
                    <div class="field__input-wrapper">
                        <label class="field__label field__label--visible"
                               asp-for="CheckoutInfo.LastName">
                            Last name
                        </label>
                        <input placeholder="Last name" class="field__input" asp-for="CheckoutInfo.LastName">
                    </div>
                </div>
                <div class="field field--required">
                    <div class="field__input-wrapper">
                        <label class="field__label field__label--visible"
                               asp-for="CheckoutInfo.Address1">
                            Address
                        </label>
                        <input placeholder="Address" class="field__input" asp-for="CheckoutInfo.Address1">
                    </div>
                </div>
                <div data-address-field="address2"
                     class="field field--optional">
                    <div class="field__input-wrapper">
                        <label class="field__label field__label--visible" asp-for="CheckoutInfo.Address2">
                            Apartment, suite, etc. (optional)
                        </label>
                        <input placeholder="Apartment, suite, etc. (optional)" class="field__input" 
                               asp-for="CheckoutInfo.Address2">
                    </div>
                </div>
                <div class="field field--required field--half">
                    <div class="field__input-wrapper">
                        <label class="field__label field__label--visible" asp-for="CheckoutInfo.Zip">
                            Postal code
                        </label>
                        <input placeholder="Postal code" class="field__input field__input--zip" asp-for="CheckoutInfo.Zip">
                    </div>
                </div>
                <div class="field field--required field--half">
                    <div class="field__input-wrapper">
                        <label class="field__label field__label--visible" asp-for="CheckoutInfo.City">
                            City
                        </label>
                        <input placeholder="City" class="field__input"  asp-for="CheckoutInfo.City">
                    </div>
                </div>
                <div class="field field--required field--show-floating-label"
                     style="margin-bottom: 15px;">
                    <div class="field__input-wrapper field__input-wrapper--select">
                        <label class="field__label field__label--visible" asp-for="CheckoutInfo.CountryId">
                            Country
                        </label>
                        <select class="field__input field__input--select" asp-for="CheckoutInfo.CountryId"
                                placeholder="Country"
                                asp-items="@Model.Countries">
                        </select>
                        <div class="field__caret">
                            <svg
                                class="icon-svg icon-svg--color-adaptive-lighter icon-svg--size-10 field__caret-svg"
                                role="presentation" aria-hidden="true"
                                focusable="false">
                                <use xlink:href="#caret-down"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                @if(!SignInManager.IsSignedIn(User))
                {
                    <div class="field field--optional visually-hidden">
                        <div class="field__input-wrapper">
                            <label class="field__label field__label--visible"
                                   asp-for="CheckoutInfo.Password">
                                Password
                            </label>
                            <input placeholder="Password" 
                                   class="field__input" size="30" asp-for="CheckoutInfo.Password">
                        </div>
                    </div>
                    <div class="checkbox-wrapper" style="margin-left: 7px;">
                        <div>
                            <div class="checkbox__input">
                                <input name="create_account_at_checkout"
                                       type="hidden" value="0" autocomplete="off">
                                <input class="input-checkbox" asp-for="CheckoutInfo.CreateAccountFlag">
                            </div>
                            <label class="checkbox__label" asp-for="CheckoutInfo.CreateAccountFlag">
                                Create an account at checkout
                            </label>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

</div>

<div class="step__footer" data-step-footer="">
    <button name="button" type="submit" id="continue_to_shipping_button" class="step__footer__continue-btn btn" aria-busy="false">
        <span class="btn__content" data-continue-button-content="true">
            Continue to shipping
        </span>
    </button>
</div>
</form>
</div>
</main>